body {
  margin: 0;
  font-family: Segoe UI;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #0A3641;
  margin: 0;
  color: white;
  padding: 0 20px 5px;
}

.navbar .title {
  width: 25%;
  display: inline-block;
  font-weight: 500;
}

.navbar .title,
.ul,
.icon,
.icon2,
.copyright {
  display: inline-block;
}

.navbar .ul {
  width: 50%;
  text-align: center;
}

.navbar .li {
  list-style: none;
  display: inline;
  padding: 0 40px;
  font-size: 17px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.navbar .li a {
  color: #fff;
  text-decoration: none;
}

.navbar .icon {
  background-color: #0A3641;
}

.navbar .icon img {
  width: 35px;
  padding: 0px 15px;
  position: relative;
  top: 10px;
}

.About {
  background-color: #eee;
  padding: 200px 0;
}

.About .container .imgs, .About .container .info {
  width: 45%;
  float: left;
}

.About .container .imgs {
  text-align: center;
}

.About .container .imgs img {
  width: 75%;
}

.About .container .info {
  color: #000;
  padding: 0 10px;
}

.About .container .info h1 {
  font-size: 50px;
}

.About .container .info p {
  font-size: 25px;
  word-wrap: break-word;
}

.About .container .clear {
  clear: both;
}

.footer {
  background-color: #0A3641;
  color: white;
}

.footer .copyright {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

.footer .icon2 .fb {
  width: 39px;
  position: relative;
  top: 12px;
  right: -7px;
}

.footer .icon2 .twitter,
.footer .icon2 .insta {
  width: 27px;
  position: relative;
  top: 14px;
  padding: 0 25px;
}

@media (min-width: 10px) {
  .navbar .title,
  .ul,
  .icon,
  .copyright,
  .icon2 {
    width: 100%;
  }
  .navbar .icon img {
    top: 0px;
  }
  .navbar .icon a,
  .footer .icon2 a {
    float: none;
  }
  .navbar .ul {
    text-align: left;
    padding-left: 15px;
  }
  .navbar .li {
    display: block;
    padding-top: 5px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    font-weight: 500;
  }
  .About .container .info {
    width: 90vw;
  }
  .About .container .imgs {
    width: 95vw;
  }
  .About .container .imgs img {
    width: 50%;
  }
  .footer .copyright {
    padding: 15px 0;
  }
  .icon2 {
    text-align: center;
  }
  .footer .icon2 .twitter,
  .footer .icon2 .insta {
    top: 0;
  }
  .footer .icon2 .fb {
    top: 4px;
    right: 15px;
  }
}

@media (min-width: 992px) {
  .navbar .title {
    width: 25%;
  }
  .navbar .ul {
    width: 50%;
    text-align: center;
  }
  .navbar .icon {
    width: 20%;
  }
  .navbar .icon img {
    top: 15px;
  }
  .navbar .li {
    list-style: none;
    display: inline;
    padding: 0 40px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    font-weight: 500;
  }
  .navbar .icon a,
  .footer .icon2 a {
    float: right;
  }
  .About .container .imgs, .About .container .info {
    width: 45%;
  }
  .About .container .imgs img {
    width: 75%;
  }
  .copyright {
    width: 50%;
  }
  .icon2 {
    width: 40%;
    text-align: left;
  }
  .footer .copyright {
    padding: 15px;
  }
  .footer .icon2 .twitter,
  .footer .icon2 .insta {
    top: 14px;
  }
  .footer .icon2 .fb {
    top: 12px;
    right: -14px;
  }
}