body {
  margin: 0;
  font-family: Segoe UI;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #0A3641;
  margin: 0;
  color: white;
  padding: 0 20px 5px;
}

.navbar .title {
  width: 25%;
  display: inline-block;
  font-weight: 500;
}

.navbar .title,
.ul,
.icon,
.icon2,
.copyright {
  display: inline-block;
}

.navbar .ul {
  width: 50%;
  text-align: center;
}

.navbar .li {
  list-style: none;
  display: inline;
  padding: 0 40px;
  font-size: 17px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.navbar .li a {
  color: #fff;
  text-decoration: none;
}

.navbar .icon {
  background-color: #0A3641;
}

.navbar .icon img {
  width: 35px;
  padding: 0px 15px;
  position: relative;
  top: 10px;
}

.checkout {
  background-color: #eee;
  padding: 50px 0;
}

.checkout h1 {
  color: #0A3641;
  text-align: center;
  font-size: 50px;
  margin-bottom: 75px;
}

.checkout .container {
  text-align: center;
}

.checkout .container .item-info, .checkout .container .personal-info {
  width: 49%;
  float: left;
}

.checkout .container .item-info .display-flex, .checkout .container .personal-info .display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout .container .item-info .display-flex .info {
  width: 450px;
  border: 5px solid #0A3641;
  position: relative;
  padding: 30px 0;
}

.checkout .container .item-info .display-flex .info span {
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: underline;
}

.checkout .container .item-info .display-flex .info .img, .checkout .container .item-info .display-flex .info ul {
  width: 41%;
  display: inline-block;
  text-align: center;
}

.checkout .container .item-info .display-flex .info .img img {
  width: 70%;
}

.checkout .container .item-info .display-flex .info ul {
  text-align: left;
}

.checkout .container .item-info .display-flex .info ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  margin: 16px 0 0 0;
  color: #0A3641;
}

.checkout .container .item-info .display-flex .info hr {
  width: 75%;
}

.checkout .container .item-info .display-flex .info .list-left, .checkout .container .item-info .display-flex .info .list-right {
  display: inline-block;
  width: 40%;
  color: #0A3641;
}

.checkout .container .item-info .display-flex .info .list-right {
  text-align: center;
}

.checkout .container .personal-info .display-flex .info {
  width: 450px;
  border: 5px solid #0A3641;
  text-align: center;
  margin-bottom: 50px;
}

.checkout .container .personal-info .display-flex .info h2 {
  font-size: 20px;
}

.checkout .container .personal-info .display-flex .info ul {
  display: inline-block;
}

.checkout .container .personal-info .display-flex .info ul li {
  list-style: none;
}

.checkout .container .clear {
  clear: both;
}

.checkout .container button {
  background: #0A3641;
  padding: 10px 39px;
  font-weight: bolder;
  font-size: 25px;
  border: 0;
  cursor: pointer;
}

.checkout .container button a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #0A3641;
  color: white;
}

.footer .copyright {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

.footer .icon2 .fb {
  width: 39px;
  position: relative;
  top: 12px;
  right: -7px;
}

.footer .icon2 .twitter,
.footer .icon2 .insta {
  width: 27px;
  position: relative;
  top: 14px;
  padding: 0 25px;
}

@media (min-width: 10px) {
  .navbar .title,
  .ul,
  .icon,
  .copyright,
  .icon2 {
    width: 100%;
  }
  .navbar .icon img {
    top: 0px;
  }
  .navbar .icon a,
  .footer .icon2 a {
    float: none;
  }
  .navbar .ul {
    text-align: left;
    padding-left: 15px;
  }
  .navbar .li {
    display: block;
    padding-top: 5px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    font-weight: 500;
  }
  .checkout .container .item-info, .checkout .container .personal-info {
    width: 99%;
    float: left;
    margin-bottom: 50px;
  }
  .checkout .container .item-info .display-flex .info {
    width: 90vw;
  }
  .checkout .container .item-info .display-flex .info .list-left, .checkout .container .item-info .display-flex .info .list-right {
    width: 30vw;
  }
  .checkout .container .personal-info .display-flex .info {
    width: 90vw;
  }
  .footer .copyright {
    padding: 15px 0;
  }
  .icon2 {
    text-align: center;
  }
  .footer .icon2 .twitter,
  .footer .icon2 .insta {
    top: 0;
  }
  .footer .icon2 .fb {
    top: 4px;
    right: 15px;
  }
}

@media (min-width: 992px) {
  .navbar .title {
    width: 25%;
  }
  .navbar .ul {
    width: 50%;
    text-align: center;
  }
  .navbar .icon {
    width: 20%;
  }
  .navbar .icon img {
    top: 15px;
  }
  .navbar .li {
    list-style: none;
    display: inline;
    padding: 0 40px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    font-weight: 500;
  }
  .navbar .icon a,
  .footer .icon2 a {
    float: right;
  }
  .checkout .container .item-info, .checkout .container .personal-info {
    width: 49%;
    float: left;
    margin-bottom: 50px;
  }
  .checkout .container .item-info .display-flex .info {
    width: 450px;
  }
  .checkout .container .item-info .display-flex .info .list-left, .checkout .container .item-info .display-flex .info .list-right {
    width: 40%;
  }
  .checkout .container .personal-info .display-flex .info {
    width: 450px;
  }
  .copyright {
    width: 50%;
  }
  .icon2 {
    width: 40%;
    text-align: left;
  }
  .footer .copyright {
    padding: 15px;
  }
  .footer .icon2 .twitter,
  .footer .icon2 .insta {
    top: 14px;
  }
  .footer .icon2 .fb {
    top: 12px;
    right: -14px;
  }
}
